Package: com.yourcompany.reloaddata
Name: ReloadData
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: BigTimeLegend
Author: BigTimeLegend
Section: Tweaks
Version: 0.0.1-3
Installed-Size: 72
